h1,h2,h3,h4,h5,p {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 960px;
    margin: auto;
    line-height: 1.5;
}

header {
    padding: 25px 0;
}

header div{
    display: inline-block;
}

header div:last-child {
    float: right;
}

.header_text {
    padding-left: 10px;
}

.header_text p:first-child {
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
   
}

.header_text p:last-child {
    font-size: 12px;
    color: darkgray;
   
}

.rss_icon {
    padding-left: 5px;
}

.dashed_line {
    background: url(../assets/img/hr-img.png);
    width: 100%;
    height: 15px;
    margin-bottom: 60px;
}

.main_header {
    margin-bottom: 30px;
}

.main_header div {
    display: inline-block;
}

.main_header div:last-child {
    float: right;
    padding-top: 30px;
}

.main_header div:last-child p {
    display: inline;
    font-size: 10px;
}

.main_title_container h1 {
    font-size: 40px;
    font-weight:900;
    font-family: 'Oswald', sans-serif;
}
.main_title_container p {
    font-size: 12px;
    color: darkgray;
    font-family: 'Oswald', sans-serif;
}


.hero_image {
    width: 100%;
}

.p_containers {
    margin: 20px 0;
}

.p_containers p{
    text-indent: 40px;
    margin: 40px 0;
    font-weight: 530;
}

.menu_list {
    background: url(../assets/img/list-bg.png);
    height: 300px;
}

.menu_list label {
    display: inline-block;
    font-family: 'Architects Daughter', cursive;
    font-weight: 545;
}

.menu_list > div {
    display: inline-block;
    margin: 60px 100px;
}

.input_container {
    padding: 3px 0;
}

.button_dashed_line {
    background: url(../assets/img/hr-img.png);
    width: 100%;
    height: 15px;
    margin-top: 40px;
}

.share_container {
    margin-top: 20px;
}

.share_container {
    display: flex;
    align-items: center;
}

.share_container img {
    width: 70px;
    height: 70px;
}

.share_container div {
    padding: 0 15px;
}
html{
    padding: 0;

    margin: 0;
}


.share_container button {
    width: 400px;
    height: 50px;
    background-color: #bc7058;
    color: white;
}

footer {
    height: 200px;
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    color: darkgray;
}

.footer_border {
    display: flex;
    align-items: center;
}

.footer_border img {
    padding: 0 10px;
}

div.line {
    border-top: solid 1px lightgray;
    flex: 1;
}

.footer_text {
    padding-top: 20px;
}